@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',arial,sans-serif;
}
html,body {
  min-height: 100vh;
  width: 100%;
  padding: 20px 30px;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
h1{
  margin-bottom: 25px;
  font-size: 45px;
  text-align: left;
  color: white;
  font-weight: bold;
}
.notes{
  width: 70px;
  margin-right: 10px;
}
header{
  display: flex;
  align-items: center;
}
.create-notes{
  border: none;
  outline: none;
  padding: 8px 20px;
  font-size: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: #845CE7;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all ease 0.2s;
}
.create-notes:active{
  transform: scale(0.95);
}
.edit{
  width: 30px;
  background-color: #845CE7;
  margin-right: 10px;
  border: none;
  outline: none;
}
.notes-content{
  min-height: 200px;
  width: 800px;
  max-width: 90%;
  background-color: white;
  outline: none;
  border: none;
  position: relative;
  padding: 15px;
  font-size: 18px;
  margin-top: 30px;
  border-radius: 10px;
}
.delete-button{
  background-color: transparent;
  border: none;
  outline: none;
  user-select: none !important;
}
.delete{
  position: absolute;
  bottom: 15px;
  right: 15px;
  height: 25px;
  cursor: pointer;
  user-select: none !important;
  transition: all ease 0.3s;
}
.delete:active{
  transform: scale(0.9);
}
.notes-content span{
  color: #666;
}